* {
    padding: 0;
    margin: 0;
    font-family:'Roboto';
  }
  
  #fullpage {
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-size: 10em;
    color:#fff;
  }
#fullpage section { height: 100vh; }

#fullpage section:nth-child(1) {
    
    background-image: url('/images/wmap.jpg');
    background-size: cover; 
}

#fullpage section:nth-child(2) { 

    background-image: url('images/sanfracisco.jpeg');
    background-size: cover; 
}

#fullpage section:nth-child(3) { 
    background-image: url('images/edinburgh.jpeg');
    background-size: cover;; 
}

#fullpage section:nth-child(4) { 
    background-image: url('images/velence.jpeg');
    background-size: cover;
}

#fullpage section:nth-child(5) { 
    background-image: url('images/singapore.jpeg');
    background-size: cover;
}
#fullpage section:nth-child(6) { 
    background-image: url('images/dubai.jpeg');
    background-size: cover;
}

.video{
    height: 100%;
    width: 100%;
}

.title{
    font-size: 40px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:80%;
    font-family: 'Dosis', sans-serif;
    
}
.titleBox{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.589);
    height: 70%;
    border-radius: 30px;
}
.textBox{
    width: 50%;
    position: fixed;
    margin-top: 5vh;
    background-color: rgba(0, 0, 0, 0.589);
    height: 90%;
    border-radius: 30px;
    right: 5%;
  
}

.subTitle{
    margin-top:20px;
    font-size: 30px;
}
.text{
    font-size: 30px;
    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-25%);
    width:80%; 
    text-align: justify;
}

.fbtn{
    color:white;
    background: rgb(255, 190, 92);
    padding:8px;
    font-size:20px;
    border-radius:5px;
    text-decoration: none;
}
.fbtn:hover{
    background-color: rgb(199, 34, 34);
}
.btn{
    font-size: 30px;
    color:white;
    background: rgb(0, 128, 11);
    padding:15px;
    font-size:20px;
    border-radius:5px;
    text-decoration: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,0);
}
.btn:hover{
    background-color: rgb(2, 160, 15);
}


@media(min-width:1810px)
{
.text{
    font-size: 2.5vw;
}
}
